/* This code has been included in styles.css */           
/* Simple browser reset */
* {
 box-sizing: border-box;
}

html,
body {
 /* background: #fff; */
 font-family: Arial, Helvetica, sans-serif;
 margin: 0;
}

/* Responsive columns */

@media (max-width: 700px) {
 .features_box-wrapper {
  flex-wrap: wrap;
 }
 .features_box {
  flex: 1 100%;
 }
}

